@CHARSET "UTF-8";

#Normalisation
ul, ol, li, dl, dt, dd {
	display: block;
	padding: 0;
	margin: 0;
}

li {
	display: list-item;
	margin-left: 2em;
}


body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

main {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	felx-direction: column;
}

nav {
	height: 30px;	
}

nav,
footer
{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background-color: #111111;
}

nav section,
footer section
{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: auto;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

nav section a,
footer section a,
footer section p
{
	margin: auto;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	font: bold .9em/150% Helvetica,Arial,sans-serif;
	color: #FAFAFA;
}